@charset "UTF-8";
body {
  color: #000000;
  background-color: #F6F6F6;
  font-size: 100%;
  scroll-behavior: smooth;
  margin-top: 0;
  -wp-admin--admin-bar--height: 0;
  font-size: 0.9rem;
  letter-spacing: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

main {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.section-title {
  display: block;
  width: 160px;
  height: auto;
  font-size: 30px;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 2px;
  position: relative;
}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/paspol-image/sectionTitle-underLine@2x.png);
  width: 70px;
  height: 40px;
  bottom: -12px;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.more-btn, #contact .contact__inner .wpcf7-form .btn-flex .wpcf7-previous, #contact .contact__inner .wpcf7-form .btn-flex .wpcf7-submit, .post-navigation .nav-next a {
  max-width: 166px;
  width: 100%;
  font-size: 14px;
  font-family: "Gill Sans Std Book", sans-serif;
  border: 1px solid black;
  padding: 17px 54px 14px;
  letter-spacing: 2px;
  transition: 0.3s;
  position: relative;
  justify-self: end;
}
.more-btn::after, #contact .contact__inner .wpcf7-form .btn-flex .wpcf7-previous::after, #contact .contact__inner .wpcf7-form .btn-flex .wpcf7-submit::after, .post-navigation .nav-next a::after {
  content: "";
  position: absolute;
  background: url(../images/paspol-image/button-arrow@2x.png);
  width: 4.5%;
  height: 100%;
  top: 18px;
  right: 13px;
  background-size: contain;
  background-repeat: no-repeat;
}

.more-btn:hover, #contact .contact__inner .wpcf7-form .btn-flex .wpcf7-previous:hover, #contact .contact__inner .wpcf7-form .btn-flex .wpcf7-submit:hover, .post-navigation .nav-next a:hover {
  color: white;
  background-color: black;
  transition: 0.3s;
}
.more-btn:hover::after, #contact .contact__inner .wpcf7-form .btn-flex .wpcf7-previous:hover::after, #contact .contact__inner .wpcf7-form .btn-flex .wpcf7-submit:hover::after, .post-navigation .nav-next a:hover::after {
  content: "";
  position: absolute;
  background: url(../images/paspol-image/button-arrow-hover@2x.png);
  width: 4.5%;
  height: 100%;
  top: 18px;
  right: 13px;
  background-size: contain;
  background-repeat: no-repeat;
}

.back-btn, .post-navigation .nav-previous a {
  display: block;
  max-width: 226px;
  width: 100%;
  height: auto;
  margin: 60px auto 0;
  font-size: 14px;
  font-family: "Gill Sans Std Book", sans-serif;
  border: 1px solid black;
  padding: 17px 54px 14px;
  letter-spacing: 2px;
  transition: 0.3s;
  position: relative;
}
.back-btn::after, .post-navigation .nav-previous a::after {
  content: "";
  position: absolute;
  background: url(../images/paspol-image/button-arrow-back@2x.png);
  width: 4%;
  height: 100%;
  top: 19px;
  left: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}

.back-btn:hover, .post-navigation .nav-previous a:hover {
  color: white;
  background-color: black;
  transition: 0.3s;
}
.back-btn:hover::after, .post-navigation .nav-previous a:hover::after {
  content: "";
  position: absolute;
  background: url(../images/paspol-image/button-arrow-back-hover@2x.png);
  width: 4%;
  height: 100%;
  top: 19px;
  left: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}

#p-mainvisual {
  width: 100%;
}
#p-mainvisual .p-mainvisual {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#p-mainvisual .p-mainvisual__images {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#p-mainvisual .p-mainvisual__images--item {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
#p-mainvisual .p-mainvisual__images--item img {
  width: 100%;
  height: 100%;
}
#p-mainvisual .p-mainvisual__images--item.single-full-height {
  height: 100%;
}
#p-mainvisual .p-mainvisual__images::before {
  display: none;
}
#p-mainvisual .p-mainvisual__images::after {
  content: "";
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: url(../images/paspol-image/mainVisual-overlay@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
#p-mainvisual .p-mainvisual__logo-sp {
  display: none;
}

.container, .content {
  max-width: 100% !important;
  padding: 0 !important;
}

.pagination {
  text-align: center;
  display: block;
  margin: 70px 0 100px;
}
.pagination .page-numbers {
  font-size: 14px;
  color: rgb(77, 77, 77);
  margin: 0 5px;
  padding: 8px 13px;
  border: solid 1px rgb(77, 77, 77);
  transition: 0.3s;
}
.pagination .page-numbers:hover {
  color: white;
  background-color: rgb(77, 77, 77);
  transition: 0.3s;
}
.pagination .current {
  color: rgb(214, 214, 214); /* 文字色を白に */
  border: solid 1px rgb(214, 214, 214); /* グレーの背景色 */
  pointer-events: none; /* クリックできないようにする */
  cursor: default; /* カーソルを通常の矢印に */
}

#thanks {
  margin: 100px auto;
  padding: 0 7%;
  background-color: #f6f6f6;
}
#thanks .thanks__inner {
  max-width: 816px;
  width: 100%;
  margin: 0 auto;
}
#thanks .thanks__inner .thanks-content {
  max-width: 600px;
  margin: 60px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.49);
}
#thanks .thanks__inner .thanks-content .section-title {
  font-size: 40px;
  width: 190px;
}
#thanks .thanks__inner .thanks-content p {
  font-size: 30px;
  font-weight: bold;
  padding: 95px 0 80px;
}
#thanks .thanks__inner .thanks-content p .brsp {
  display: none;
}
#thanks .thanks__inner .thanks-content .back-btn, #thanks .thanks__inner .thanks-content .post-navigation .nav-previous a, .post-navigation .nav-previous #thanks .thanks__inner .thanks-content a {
  max-width: 190px;
  margin: 0 auto;
  padding: 16px 32px 14px;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 0;
}
.post-navigation .nav-previous a {
  margin: 0;
}
.post-navigation .nav-next a {
  max-width: 197px;
  display: block;
  margin: 0;
}

.social-buttons {
  justify-content: space-between;
  max-width: 815px;
  width: 100%;
  margin: 80px auto 0;
  padding: 110px 0;
}

@media (max-width: 500px) {
  .section-title {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .section-title::after {
    width: 49%;
    height: 100%;
    bottom: -14px;
    left: 36px;
  }
  #thanks .thanks__inner .thanks-content {
    padding: 20px;
  }
  #thanks .thanks__inner .thanks-content .section-title {
    font-size: 30px;
    width: 190px;
  }
  #thanks .thanks__inner .thanks-content p {
    font-size: 20px;
    padding: 95px 0 135px;
  }
  #thanks .thanks__inner .thanks-content p .brsp {
    display: block;
  }
}
#header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 100;
}
#header .header__inner--pc {
  padding: 50px 7% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header__inner--sp {
  display: none;
}
#header .header__image {
  width: 266px;
  height: 72px;
}
#header .header__nav {
  display: flex;
}
#header .header__nav li {
  font-size: 14px;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 8px;
  margin: 0 0 0 40px;
  position: relative;
}
#header .header__nav li a {
  color: white;
}
#header .header__nav .nav_li {
  margin: 0;
}
#header .header__nav li::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
#header .header__nav li:hover::after {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 900px) {
  #header .header__inner--pc {
    display: none;
  }
  #header .header__inner--sp {
    width: 100%;
    display: block;
    position: absolute;
    top: -1px;
    transition: all 0.5s;
    transform: translateY(-264px); /* 初期状態では上方向に移動させて隠しておく */
    /* ナビゲーションメニューを開いた状態 */
  }
  #header .header__inner--sp.open {
    transform: translateY(0); /* ヘッダーの高さ分下方向に移動する */
  }
  #header .header__inner--sp .hamburger {
    /* ナビゲーションメニューの初期状態 */
    width: 100%;
    height: 264px;
    top: 0px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #header .header__inner--sp .hamburger ul {
    display: block;
    margin: 0;
    padding: 0;
  }
  #header .header__inner--sp .hamburger ul li a {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px 60px 16px;
  }
  #header .header__inner--sp .sp-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 45px;
    padding: 0 7%;
  }
  #header .header__inner--sp .sp-menu .menu {
    font-size: 12px;
    color: #5d5d5d;
    letter-spacing: 2px;
  }
  #header .header__inner--sp .sp-menu .menu-tab {
    width: 15px;
    height: 10px;
  }
}
#footer .footer {
  width: 100%;
}
#footer .footer__nav {
  background-color: #939899;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
#footer .footer__nav a {
  color: white;
  opacity: 1;
  transition: 0.3s;
}
#footer .footer__nav a li {
  font-size: 14px;
  margin: 0 0 0 40px;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
}
#footer .footer__nav a .nav_li {
  margin: 0;
}
#footer .footer__nav a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
#footer .footer__end {
  width: 100%;
  background-color: #656c6e;
}
#footer .footer__end--inner {
  max-width: 937px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 35px 100px;
}
#footer .footer__end--inner a {
  opacity: 1;
}
#footer .footer__end--inner a img {
  width: 90px;
  height: 90px;
}
#footer .footer__end--inner a:hover {
  opacity: 0.7;
}
#footer .footer__end--inner p {
  color: white;
  font-size: 10px;
}

@media (max-width: 579px) {
  #footer .footer {
    width: 100%;
  }
  #footer .footer__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  #footer .footer__nav a {
    color: white;
    opacity: 1;
    transition: 0.3s;
  }
  #footer .footer__nav a li {
    font-size: 14px;
    padding: 15px 20px;
    margin: 0;
    border-bottom: 1px solid white;
  }
  #footer .footer__nav a .nav_li {
    margin: 0;
  }
  #footer .footer__nav a:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
  #footer .footer__end {
    width: 100%;
    background-color: #656c6e;
  }
  #footer .footer__end--inner {
    max-width: 937px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 35px 50px;
  }
  #footer .footer__end--inner a {
    opacity: 1;
  }
  #footer .footer__end--inner a img {
    width: 90px;
    height: 90px;
  }
  #footer .footer__end--inner a:hover {
    opacity: 0.7;
  }
  #footer .footer__end--inner p {
    color: white;
    text-align: center;
    font-size: 9px;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 20px 0 0;
  }
}
#sns .sns__top {
  display: flex;
  justify-content: center;
}
#sns .sns__top a {
  position: relative;
  top: 33px;
  transition: 0.3s;
}
#sns .sns__top a img {
  width: 50px;
  height: 50px;
}
#sns .sns__top a:hover {
  top: 28px;
  transition: 0.3s;
}
#sns .sns__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 35px 0;
  gap: 30px;
}
#sns .sns__flex .box {
  display: block;
  text-align: center;
  align-content: center;
  font-size: 13px;
  max-width: 162px;
  width: 100%;
  height: 45px;
  background-color: white;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
}
#sns .sns__flex .facebook {
  color: #4871a9;
  border: 1px solid #4871a9;
  transition: 0.3s;
}
#sns .sns__flex .facebook:hover {
  color: white;
  background-color: #4871a9;
  transition: 0.3s;
}
#sns .sns__flex .twitter {
  color: #70bdd3;
  border: 1px solid #70bdd3;
  transition: 0.3s;
}
#sns .sns__flex .twitter:hover {
  color: white;
  background-color: #70bdd3;
  transition: 0.3s;
}
#sns .sns__flex .bookmark {
  color: #2f9bcd;
  border: 1px solid #2f9bcd;
  transition: 0.3s;
}
#sns .sns__flex .bookmark:hover {
  color: white;
  background-color: #2f9bcd;
  transition: 0.3s;
}
#sns .sns__flex .line {
  color: #8ec09d;
  border: 1px solid #8ec09d;
  transition: 0.3s;
  display: none;
}
#sns .sns__flex .line:hover {
  color: white;
  background-color: #8ec09d;
  transition: 0.3s;
}

@media (max-width: 700px) {
  #sns .sns__flex {
    padding: 35px 50px;
    gap: 10px;
  }
  #sns .sns__flex .box {
    font-size: 11px;
    max-width: 150px;
    width: 100%;
    padding: 5px 0 0;
  }
}
@media (max-width: 579px) {
  #sns .sns__top {
    display: flex;
    justify-content: center;
  }
  #sns .sns__top a {
    position: relative;
    top: 33px;
    transition: 0.3s;
  }
  #sns .sns__top a img {
    width: 50px;
    height: 50px;
  }
  #sns .sns__top a:hover {
    top: 28px;
    transition: 0.3s;
  }
  #sns .sns__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    padding: 35px 10px;
    gap: 10px;
  }
  #sns .sns__flex .box {
    display: block;
    justify-content: initial;
    text-align: center;
    align-content: center;
    font-size: 11px;
    max-width: 240px;
    width: 100%;
    height: 45px;
    padding: 5px 0 0;
    background-color: white;
    font-family: "Gill Sans Std Book", sans-serif;
    letter-spacing: 0.1em;
  }
}
#concept {
  padding: 100px 0;
}
#concept .concept-wrapper {
  max-width: 937px;
  width: 100%;
  margin: 0 auto;
}
#concept .concept-wrapper .concept__inner {
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  margin: 0 auto;
}
#concept .concept-wrapper .concept__inner--title {
  font-size: 45px;
  font-weight: normal;
  text-align: center;
}
#concept .concept-wrapper .concept__inner--text {
  font-size: 20px;
  margin: 20px 0 0;
}
#concept .concept-wrapper .concept__inner .paspol {
  display: block;
  width: 210px;
  height: 50px;
  margin: 35px auto;
}

@media (max-width: 700px) {
  #concept {
    padding: 70px 0;
  }
  #concept .concept-wrapper .concept__inner {
    margin: 0;
    padding: 0px 54px;
  }
  #concept .concept-wrapper .concept__inner--title {
    font-size: 45px;
    font-weight: normal;
    text-align: left;
  }
  #concept .concept-wrapper .concept__inner--text {
    font-size: 20px;
    margin: 20px 0 0;
  }
  #concept .concept-wrapper .concept__inner .paspol {
    display: block;
    width: 210px;
    height: 50px;
    margin: 35px 0;
  }
}
@media (max-width: 500px) {
  #concept {
    padding: 100px 0;
  }
  #concept .concept-wrapper {
    max-width: 937px;
    width: 100%;
    margin: 0 auto;
  }
  #concept .concept-wrapper .concept__inner {
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    margin: 0;
    padding: 0px 20px;
  }
  #concept .concept-wrapper .concept__inner--title {
    font-size: 36px;
    font-weight: normal;
    text-align: left;
    letter-spacing: 3px;
  }
  #concept .concept-wrapper .concept__inner--text {
    font-size: 15px;
    margin: 15px 0 0;
  }
  #concept .concept-wrapper .concept__inner .paspol {
    display: block;
    width: 150px;
    height: 40px;
    margin: 15px 0;
  }
}
#mainvisual .mainvisual {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
#mainvisual .mainvisual__images {
  position: relative;
  overflow: hidden;
}
#mainvisual .mainvisual__images--item {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#mainvisual .mainvisual__images::before {
  content: "";
  position: absolute;
  z-index: 20;
  right: 48%;
  bottom: 190px;
  width: 20px;
  height: 24px;
  background: url(../images/paspol-image/mainVisual-arrow@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#mainvisual .mainvisual__images::after {
  content: "";
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: url(../images/paspol-image/mainVisual-overlay@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
#mainvisual .mainvisual .main-logo-sp {
  display: none;
}

@media (max-width: 900px) {
  #mainvisual {
    width: 100%;
    height: 100%;
  }
  #mainvisual .main-arrow {
    width: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }
  #mainvisual .main-image {
    width: 100%;
  }
  #mainvisual .main-overlay {
    position: absolute;
    bottom: 6px;
    left: 0;
    z-index: 20;
  }
  #mainvisual .main-logo-sp {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
    background-color: blueviolet;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 30;
    background-image: url(../images/paspol-image/siteLogo-sp@2x.png);
  }
}
#product {
  background-color: white;
  padding: 110px 7%;
  margin: 0 auto;
}
#product .product__inner {
  max-width: 816px;
  width: 100%;
  margin: 0 auto;
}
#product .product__inner .aa {
  display: none;
}
#product .product__inner--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#product .product__inner .product-postlist {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
}
#product .product__inner .product-postlist .product-post {
  width: 100%;
  margin: 60px auto 0;
  padding: 0 5%;
  transition: 0.3s;
}
#product .product__inner .product-postlist .product-post .post-thumbnail {
  width: 100%;
}
#product .product__inner .product-postlist .product-post .post-thumbnail img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#product .product__inner .product-postlist .product-post .product-title {
  width: 100%;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 0;
  padding: 0 20px;
  letter-spacing: 0.1em;
  line-height: 1.7em;
}
#product .product__inner .product-postlist .product-post p {
  font-size: 13px;
  margin: 20px 0 0;
  line-height: 1.7em;
}
#product .product__inner .product-postlist .product-post:hover {
  opacity: 0.7;
  transition: 0.3s;
}

@media (max-width: 779px) {
  #product {
    padding: 70px 5%;
  }
  #product .product__inner--flex {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px;
  }
  #product .product__inner .product-postlist {
    display: block;
  }
  #product .product__inner .product-postlist .product-post {
    display: flex;
    margin: 30px auto 0;
    padding: 0;
  }
  #product .product__inner .product-postlist .product-post .post-thumbnail {
    width: 53%;
  }
  #product .product__inner .product-postlist .product-post .product-title {
    margin: 20px 0 0;
    padding: 0 25px;
  }
}
@media (max-width: 700px) {
  #product {
    padding: 70px 7%;
  }
  #product .product__inner .product-postlist .product-post .post-thumbnail {
    width: 48%;
  }
}
@media (max-width: 500px) {
  #product {
    padding: 70px 7%;
  }
  #product .product__inner .aa {
    display: block;
    margin: 60px auto 0;
  }
  #product .product__inner--flex {
    display: flex;
    flex-direction: column;
  }
  #product .product__inner--flex .bb {
    display: none;
  }
  #product .product__inner .product-postlist {
    display: block;
  }
  #product .product__inner .product-postlist .product-post {
    flex-direction: column;
    width: 100%;
    margin: 30px auto 0;
    padding: 0;
  }
  #product .product__inner .product-postlist .product-post .post-thumbnail {
    width: 100%;
  }
  #product .product__inner .product-postlist .product-post .product-title {
    width: 100%;
    height: auto;
    font-size: 18px;
    margin: 0;
    padding: 0px 7%;
  }
}
#news {
  background-color: #f6f6f6;
  padding: 110px 7%;
  margin: 0 auto;
}
#news .news__inner {
  max-width: 816px;
  width: 100%;
  margin: 0 auto;
}
#news .news__inner .aa {
  display: none;
}
#news .news__inner--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 75px;
}
#news .news__inner .news-postlist .news-post {
  display: flex;
  width: 100%;
  margin: 60px auto 0;
  padding: 0;
  transition: 0.3s;
}
#news .news__inner .news-postlist .news-post .post-thumbnail {
  width: 40%;
}
#news .news__inner .news-postlist .news-post .post-thumbnail img {
  width: 100%;
  height: auto;
}
#news .news__inner .news-postlist .news-post .post-textarea {
  width: 60%;
  padding: 0 0 0 30px;
}
#news .news__inner .news-postlist .news-post .post-textarea .news-title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.7em;
}
#news .news__inner .news-postlist .news-post .post-textarea .entry-title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.7em;
}
#news .news__inner .news-postlist .news-post .post-textarea .post-date {
  display: block;
  font-size: 12px;
  margin: 5px 0 0;
}
#news .news__inner .news-postlist .news-post .post-textarea p {
  font-size: 13px;
  margin: 20px 0 0;
  line-height: 1.7em;
}
#news .news__inner .news-postlist .news-post:hover {
  opacity: 0.7;
  transition: 0.3s;
}

@media (max-width: 500px) {
  #news {
    padding: 70px 7% 20px;
    margin: 0 auto;
  }
  #news .news__inner {
    max-width: 816px;
    width: 100%;
    margin: 0 auto;
  }
  #news .news__inner .aa {
    display: block;
    margin: 60px auto 0;
  }
  #news .news__inner--flex {
    display: flex;
    justify-content: space-between;
    margin: 0 0 75px;
  }
  #news .news__inner--flex .bb {
    display: none;
  }
  #news .news__inner .news-postlist .news-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 60px auto 0;
    padding: 0;
  }
  #news .news__inner .news-postlist .news-post .post-thumbnail {
    width: 100%;
  }
  #news .news__inner .news-postlist .news-post .post-thumbnail img {
    width: 100%;
    height: auto;
  }
  #news .news__inner .news-postlist .news-post .post-textarea {
    width: 100%;
    padding: 0;
  }
  #news .news__inner .news-postlist .news-post .post-textarea .news-title {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 0;
    letter-spacing: 0.1em;
    line-height: 1.7em;
  }
  #news .news__inner .news-postlist .news-post .post-textarea .post-date {
    display: block;
    font-size: 12px;
    margin: 5px 0 0;
  }
  #news .news__inner .news-postlist .news-post .post-textarea p {
    display: none;
  }
}
#contact {
  margin: 100px auto;
  padding: 0 7%;
  background-color: #f6f6f6;
}
#contact .contact__inner {
  max-width: 816px;
  width: 100%;
  margin: 0 auto;
  /* モーダルウィンドウのスタイル */
}
#contact .contact__inner .wpcf7-form {
  display: block;
  max-width: 600px;
  margin: 60px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.49);
}
#contact .contact__inner .wpcf7-form label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0;
}
#contact .contact__inner .wpcf7-form .required {
  background-color: #ff0000; /* レッド */
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 12px;
}
#contact .contact__inner .wpcf7-form input[type=text],
#contact .contact__inner .wpcf7-form input[type=tel],
#contact .contact__inner .wpcf7-form input[type=email],
#contact .contact__inner .wpcf7-form textarea {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 5px 0 40px;
  border: 1px solid #797979;
  border-radius: 5px;
  font-size: 16px;
}
#contact .contact__inner .wpcf7-form .btn-flex {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 55px;
}
#contact .contact__inner .wpcf7-form .btn-flex .wpcf7-previous {
  display: block;
  width: 145px;
  cursor: pointer;
  margin: 0 auto;
  padding: 13px 15px 10px;
}
#contact .contact__inner .wpcf7-form .btn-flex .wpcf7-submit {
  display: block;
  width: 145px;
  cursor: pointer;
  margin: 0 auto;
  padding: 15px 33px 14px;
}
#contact .contact__inner .wpcf7-form .btn-flex .wpcf7-spinner {
  display: none;
}
#contact .contact__inner .wpcf7-form .wpcf7-not-valid-tip {
  display: block;
  color: red;
  font-size: 14px;
  margin: -40px 0 23px;
}
#contact .contact__inner .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  justify-content: center;
  align-items: center;
}
#contact .contact__inner .modal .modal-content {
  max-width: 600px;
  width: 100%;
  height: 90%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.49);
  border-radius: 15px;
  margin: 65px auto;
  padding: 30px;
}
#contact .contact__inner .modal .modal-content .section-title {
  font-size: 35px;
  font-weight: bold;
}
#contact .contact__inner .modal .modal-content p {
  font-size: 20px;
  font-weight: bold;
  margin: 60px 0;
}
#contact .contact__inner .modal .modal-content #modal-form-data {
  max-width: 100%; /* 親要素内で幅を制限 */
  box-sizing: border-box; /* パディングを含めたボックスサイズにする */
}
#contact .contact__inner .modal .modal-content #modal-form-data p {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -2px;
}
#contact .contact__inner .modal .modal-content #modal-form-data span {
  color: #cd7121;
  text-shadow: 2px 3px 3px rgba(50, 50, 50, 0.4);
  letter-spacing: 1px;
  word-wrap: break-word; /* 長い単語も折り返す */
  white-space: normal; /* テキストを通常のスペース扱いにする */
  display: inline-block; /* インラインブロックにする */
  max-width: 100%; /* 最大幅を100%に制限 */
  padding: 5px 0; /* 各フィールド間に余白を追加 */
}
#contact .contact__inner .modal .btn-flex {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 55px;
}
#contact .contact__inner .modal .btn-flex .back-btn {
  max-width: 190px;
  margin: 0 auto;
  padding: 18px 36px 14px;
}
#contact .contact__inner .modal .btn-flex .back-btn::after {
  width: 4%;
  top: 19px;
}
#contact .contact__inner .modal .btn-flex .back-btn:hover {
  color: white;
  background-color: black;
  transition: 0.3s;
}
#contact .contact__inner .modal .btn-flex .back-btn:hover::after {
  width: 4%;
  top: 19px;
}
#contact .contact__inner .modal .btn-flex .more-btn, #contact .contact__inner .modal .wpcf7-form .btn-flex .wpcf7-previous, #contact .contact__inner .wpcf7-form .modal .btn-flex .wpcf7-previous, #contact .contact__inner .modal .wpcf7-form .btn-flex .wpcf7-submit, #contact .contact__inner .wpcf7-form .modal .btn-flex .wpcf7-submit {
  max-width: 175px;
  margin: 0 auto;
  padding: 17px 51px 14px;
}
#contact .contact__inner .modal .btn-flex .more-btn:hover::after, #contact .contact__inner .modal .wpcf7-form .btn-flex .wpcf7-previous:hover::after, #contact .contact__inner .wpcf7-form .modal .btn-flex .wpcf7-previous:hover::after, #contact .contact__inner .modal .wpcf7-form .btn-flex .wpcf7-submit:hover::after, #contact .contact__inner .wpcf7-form .modal .btn-flex .wpcf7-submit:hover::after {
  width: 5%;
  top: 18px;
}

@media (max-width: 500px) {
  #contact .contact__inner .wpcf7-form .btn-flex {
    display: flex;
    flex-direction: column;
  }
  #contact .contact__inner .modal .modal-content {
    margin: 100px 10px;
    max-width: 415px;
    width: 95%;
    height: 85%;
  }
  #contact .contact__inner .modal .modal-content .section-title {
    font-size: 25px;
  }
  #contact .contact__inner .modal .modal-content p {
    font-size: 18px;
  }
  #contact .contact__inner .modal .modal-content #modal-form-data p {
    font-size: 20px;
  }
  #contact .contact__inner .modal .modal-content #modal-form-data span {
    letter-spacing: 0px;
  }
  #contact .contact__inner .modal .modal-content .btn-flex {
    display: flex;
    flex-direction: column;
    margin: 10px auto 55px;
  }
  #contact .contact__inner .modal .modal-content .btn-flex .back-btn {
    max-width: 190px;
    margin: 0 auto;
    padding: 18px 36px 14px;
  }
  #contact .contact__inner .modal .modal-content .btn-flex .back-btn::after {
    width: 4%;
    top: 19px;
  }
  #contact .contact__inner .modal .modal-content .btn-flex .back-btn:hover {
    color: white;
    background-color: black;
    transition: 0.3s;
  }
  #contact .contact__inner .modal .modal-content .btn-flex .back-btn:hover::after {
    width: 4%;
    top: 19px;
  }
  #contact .contact__inner .modal .modal-content .btn-flex .more-btn, #contact .contact__inner .modal .modal-content .wpcf7-form .btn-flex .wpcf7-previous, #contact .contact__inner .wpcf7-form .modal .modal-content .btn-flex .wpcf7-previous, #contact .contact__inner .modal .modal-content .wpcf7-form .btn-flex .wpcf7-submit, #contact .contact__inner .wpcf7-form .modal .modal-content .btn-flex .wpcf7-submit {
    max-width: 190px;
    padding: 17px 51px 14px;
    margin: 13px auto;
  }
  #contact .contact__inner .modal .modal-content .btn-flex .more-btn:hover::after, #contact .contact__inner .modal .modal-content .wpcf7-form .btn-flex .wpcf7-previous:hover::after, #contact .contact__inner .wpcf7-form .modal .modal-content .btn-flex .wpcf7-previous:hover::after, #contact .contact__inner .modal .modal-content .wpcf7-form .btn-flex .wpcf7-submit:hover::after, #contact .contact__inner .wpcf7-form .modal .modal-content .btn-flex .wpcf7-submit:hover::after {
    width: 5%;
    top: 18px;
  }
}
.single .single-news {
  background-color: #f6f6f6;
  max-width: 815px;
  width: 100%;
  margin: 0 auto;
  padding: 110px 0;
}
.single .single-news .post-title-content {
  position: relative;
  top: 0;
  padding: 0 0 80px;
  margin: 0 0 80px;
}
.single .single-news .post-title-content::after {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/paspol-image/sectionTitle-underLine@2x.png);
  width: 70px;
  height: 40px;
  bottom: -12px;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.single .single-news .post-title-content .single-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 25px;
}
.single .single-news #entry-contents h2 {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin: 26px 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid #626262;
}
.single .single-news #entry-contents h3 {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin: 23.4px 0 18px;
  padding: 0 0 9px;
  border-bottom: 1px solid #626262;
}
.single .single-news #entry-contents .br1 {
  margin: 27.2px 0 19.2px;
}
.single .single-news #entry-contents .br2 {
  margin: 0 0 19.2px;
}
.single .single-news #entry-contents .margin {
  margin: 145px 0 0;
}
.single .single-news #entry-contents .date-category {
  font-size: 14px;
  color: rgb(175, 175, 175);
}
.single .single-news #entry-contents .text-type1 {
  font-size: 16px;
  margin: 27.2px 0 19.2px;
}
.single .single-news #entry-contents .text-type2 {
  font-size: 16px;
  margin: 0 0 19.2px;
}
.single .single-news #entry-contents .image-text {
  margin: 20px 0;
}
.single .single-news #entry-contents .image-text__image {
  width: 800px;
  height: 450px;
}
.single .single-news #entry-contents .image-text__text {
  font-size: 16px;
}
.single .single-news #entry-contents .h3-text {
  width: 100%;
}
.single .single-news #entry-contents .h3-text__text {
  margin: 0 0 19.2px;
}
.single .single-news #news {
  padding: 110px 0 0;
}
.single .single-news #news .section-title {
  display: block;
  width: 270px;
  height: auto;
  font-size: 30px;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 5px;
  position: relative;
}

.single .single-product {
  width: 100%;
  background-color: #f6f6f6;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.single .single-product .custom-field {
  max-width: 815px;
  width: 100%;
  margin: 0 auto;
  padding: 110px 0;
  letter-spacing: 5px;
}
.single .single-product .custom-field .product-text {
  font-size: 44px;
  text-align: center;
}
.single .single-product .custom-field .product_textdetail {
  max-width: 550px;
  width: 100%;
  display: block;
  margin: 90px auto 0px;
}
.single .single-product .custom-field .product_textdetail p {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  margin: 40px 0 0;
}
.single .single-product .main-contents {
  line-height: 26px;
  padding: 110px 0;
}
.single .single-product .main-contents .text-image-flex,
.single .single-product .main-contents .image-text-flex {
  max-width: 815px;
  width: 100%;
  margin: 120px auto;
  padding: 0;
  display: flex;
  align-items: flex-start;
}
.single .single-product .main-contents .text-image-flex .textarea,
.single .single-product .main-contents .image-text-flex .textarea {
  width: 100%;
  padding: 0 13px;
  line-height: 26px;
}
.single .single-product .main-contents .text-image-flex .textarea h3,
.single .single-product .main-contents .image-text-flex .textarea h3 {
  font-weight: bold;
  margin: 0 0 30px 0;
  letter-spacing: 3px;
}
.single .single-product .main-contents .text-image-flex .textarea pre,
.single .single-product .main-contents .image-text-flex .textarea pre {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.single .single-product .main-contents .text-image-flex figure,
.single .single-product .main-contents .image-text-flex figure {
  width: 100%;
  padding: 0 13px;
  margin: 0;
}
.single .single-product .main-contents .text-image-flex figure img,
.single .single-product .main-contents .image-text-flex figure img {
  width: 100%;
}
.single .single-product .main-contents .flex-list {
  max-width: 1000px;
  width: 100%;
  margin: 120px auto;
  padding: 0;
}
.single .single-product .main-contents .flex-list .is-layout-constrained .colmun-image-text figure img {
  max-width: 272px;
  width: 100%;
}
.single .single-product .main-contents .buy-button {
  display: block;
  position: relative;
  font-size: 14px;
  max-width: 225px;
  margin: 0 0 80px 0;
  width: 100%;
  color: #fa5f6b;
  border: 1px solid #fa5f6b;
  text-align: center;
  padding: 11px 20px 10px;
  transition: 0.3s;
}
.single .single-product .main-contents .buy-button::after {
  content: "";
  position: absolute;
  background: url(../images/paspol-image/single-product-image/button-open-buy@2x.png);
  width: 9px;
  height: 9px;
  top: 19px;
  right: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}
.single .single-product .main-contents .buy-button:hover {
  color: white;
  background-color: #fa5f6b;
  transition: 0.3s;
}
.single .single-product .main-contents .buy-button:hover::after {
  content: "";
  position: absolute;
  background: url(../images/paspol-image/single-product-image/button-open-buy-hover@2x.png);
  width: 9px;
  height: 9px;
  top: 19px;
  right: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}
.single .single-product .back-btn {
  margin: 90px auto;
}/*# sourceMappingURL=style.css.map */