@use "../_foundation/mixin"as mixin;
@use "../_foundation/base"as base;

#concept {
  padding: 100px 0;
  .concept-wrapper {
    max-width: 937px;
    width: 100%;
    margin: 0 auto;

    .concept {
      &__inner {
        max-width: fit-content;
        width: 100%;
        font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        margin: 0 auto;

        &--title {
          font-size: 45px;
          font-weight: normal;
          text-align: center;
        }

        &--text {
          font-size: 20px;
          margin: 20px 0 0;
        }

        .paspol {
          display: block;
          width: 210px;
          height: 50px;
          margin: 35px auto;
        }
      }
    }
  }
}


@include mixin.TAB2 {
  #concept {
    padding: 70px 0;
    .concept-wrapper {
      .concept {
        &__inner {
          margin: 0;
          padding: 0px 54px;
          &--title {
            font-size: 45px;
            font-weight: normal;
            text-align: left;
          }
  
          &--text {
            font-size: 20px;
            margin: 20px 0 0;
          }
  
          .paspol {
            display: block;
            width: 210px;
            height: 50px;
            margin: 35px 0;
          }
        }
      }
    }
  }  
} 

@include mixin.SP2 {
  #concept {
    padding: 100px 0;
    .concept-wrapper {
      max-width: 937px;
      width: 100%;
      margin: 0 auto;

      .concept {
        &__inner {
          max-width: fit-content;
          width: 100%;
          margin: 0;
          padding: 0px 20px;
          &--title {
            font-size: 36px;
            font-weight: normal;
            text-align: left;
            letter-spacing: 3px;
          }

          &--text {
            font-size: 15px;
            margin: 15px 0 0;
          }

          .paspol {
            display: block;
            width: 150px;
            height: 40px;
            margin: 15px 0;
          }
        }
      }
    }
  }
}  